<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ML API</title>
        <style>
            body {
                text-align : center;
            }
        </style>
     </head>
    <body>
        <div class="container" >
            <h1 align="center">Profit Prediction Analysis</h1>
            <p align="center">Profit Prediction Analysis is used to find the profit based on R&D, Administration and Marketing spend from different states like Florida,New York and California.</p>

            <form action="{{url_for('predict')}}" method="post">
                <input type="text" name="rd" placeholder="R&D Spend" required="required" />
                <input type="text" name="administration" placeholder="Administration" required="required" />
                <input type="text" name="marketing" placeholder="Marketing Spend" required="required" />
                <input type="text" name="state" placeholder="State1" required="required" />

                <button type="submit" class="btn btn-primary btn-block btn-large" >Predict</button>
            </form>
            <br/>
            <br/>
            {{prediction_text}}
        </div>
    </body>
</html>
